* {
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  body {
    height: calc(100% - 90px);
  }

  .main-header,
  .main-footer {
    background-color: #6871c0;
    height: 70px;
  }

  .logo,
  .legal-text {
    display: block;
    padding: 10px 5px 10px 5px;
    height: 30px;
    padding-top: 15px;
  }

  .main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
  }

  .legal-text {
    text-align: center;
  }

  .main-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    overflow: auto;
  }

  .bio-container {
    height: 140px;
    background-color: #99c39b;
  }

  .avatar {
    width: 180px;
    height: 140px;
    background: #f7f7f7;
    float: left;
    margin-right: 15px;
    position: relative;
  }

  .avatar img {
    width: 100%;
    height: 100%;
  }

  .bottom-container {
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 20px;
  }

  .left-sidebar {
    float: left;
    width: 180px;
    height: 100%;
    background-color: #f7f7f7;
  }

  .left-sidebar ul {
    text-align: center;
    display: block;
  }

  .left-sidebar li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #FFF;
  }

  .left-sidebar ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: block;
    font-weight: bold;
    transition-duration: 0.5s;
  }

  .left-sidebar ul li a:hover {
    color: #FFF;
    opacity: 0.5;
    background-color: rgb(122, 115, 112);
  }

  .gallery {
    background: #f7f7f7;
    float: left;
    height: calc(100% - 30px);
    padding: 15px;
    width: calc(100% - 411px);
    border-left: 1px solid rgb(146, 141, 141);
  }

  .gallery ul.row {
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  .gallery ul.row li {
    margin-right: 15px;
    display: inline-block;
  }

  .gallery ul.row li>img {
    height: 150px;
    width: 200px;
  }

  .box-shadow {
    -webkit-box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
    box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
  }
  /* login page */

  .login-input {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin: 10px auto;
  }

  .btn-login {
    padding: 15px 30px;
    background: rgb(176, 250, 238);
    color: rgb(19, 84, 224);
    font-weight: bold;
    font-size: 20px;
    float: right;
  }

  .login-container {
    padding:20px;
    width: 450px;
    height: 495px;
    background-color: #4143d4;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  .login {}

  .main-login-container {
    width: 100%;
    padding:0px !important;
    margin:0px !important;
    background-size: cover;
    background-image: url('../img/bg-login.jpg');
  }

  .bottom-login-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
  }

  .login-logo>img {
    width: 92%;
  }

  .error {
    display: none;
    color: #FFF;
    font-weight: bold;
    background-color:#ebd900;
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 6px;
  }
  /* Product Grid */
  .product-grid {
    width: 100%;
    border:1px solid #ccc;
  }
  .product-grid tr td{
    border:1px solid black; 
    padding:7px 13px;
  }
  .btn-buynow {
    padding: 10px 15px;
    color: #cb4b28;
    background-color: #98c39b;
    border-radius: 7px;
    width: calc(100% - 30px);
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
  .product {
    width: 100%;
    max-width: 175px;
    height:100px;
    text-align: center;
    display:block;
    margin:0 auto;
  }
  .btn-primary {
    padding:7px 13px;
    color:rgb(138, 136, 136);
    background-color:rgb(118, 31, 233);
    border-radius:10px;
    width:140px;
    float:right;
    margin-bottom:20px;
  }
  .btn-container {
    overflow: auto;
  }

  .right-sidebar {
    width: 100px;
    height: 250px;
    background-color: rgb(175, 211, 197);
    float: right;
    padding: 15px;

}
.right-sidebar ul {
    list-style-type: none;
}

/* logo image */
.logo >img {
  height:40px;

}

.send-container {
  background: #aaa6b4;
  float: left;
  padding: 15px;
  height:calc(100% - 30px);
  width: 97%;
  border-left: 1px solid rgb(146, 141, 141);
  padding-bottom: auto;
  text-align: center;
  position: relative;

}